<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Form Component Example</title>
    </head>
    <body>
        <div id="app" class="giveworks-form">
            <div class="container">
                <input-field v-model="form.text" label="Name" name="text" id="text" placeholder="Enter your name..."></input-field>
                <input-field v-model="form.email" label="Email Field" type="email" name="text" id="text" placeholder="you@example.com"></input-field>
            </div>
        </div>

        <!-- Include the css file -->
        <link rel="stylesheet" href="../../dist/vue-giveworks-form.css">

        <!-- VueGiveworksForm dependencies -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>

        <!-- VueGiveworksForm Library -->
        <script type="text/javascript" src="../../dist/vue-giveworks-form.js"></script>

        <!-- Instantiate a Vue instance -->
        <script type="text/javascript">
            new Vue({
                el: '#app',
                data() {
                    return {
                        form: {},
                        errors: null
                    }
                }
            });
        </script>
    </body>
</html>
