// Bootstrap Theme Overrides
// Example:
// $font-size-base: 1.2rem !default;
$font-family-base: 'Helvetica Nueue', Helvetica, Arial, sans-serif;

@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/bootstrap';

.giveworks-form {
    font-size: 16px;
    line-height: 1em;
    font-family: $font-family-base;

    .btn {
        font-size: 1em;
    }

    .show.fade {
        opacity: 1;
    }
}
